@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Unbounded:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --nav-bar-height: 80px;
    --primary-text-color: #393939;
    --primary-padding-side: 40px;
}

.container {
    display: flex;
    flex-direction: column;
}

.nav-bar-container {
    width: 100vw;
    height: var(--nav-bar-height);
    padding: 0px var(--primary-padding-side);
    position: fixed;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #fff;
}

.logo {
    font-family: 'Unbounded', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.nav-bar-links-container .link {
    margin-left: var(--primary-padding-side);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-text-color);
}

.nav-bar-links-toggle-container {
    display: none;
    z-index: 3;
}

.nav-bar-links-toggle-container button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 2em;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-links-toggle-container button:nth-child(2) {
    display: none;
}

.nav-bar-links-toggle-container.active button:nth-child(1) {
    display: none;
}

.nav-bar-links-toggle-container.active button:nth-child(2) {
    display: block;
}

.intro-container {
    height: max-content;
    margin-top: var(--nav-bar-height);
    padding: 0px var(--primary-padding-side);

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.intro-content-container {
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.intro-content-hello {
    font-size: 3vw;
    font-weight: 500;
}

.intro-content-name {
    font-size: 5vw;
    margin-left: -4px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.intro-content-carrier {
    font-size: 1.7vw;
    font-weight: 500;
}

.intro-content-msg {
    margin-top: 3rem;
    font-size: 1.3vw;
    font-weight: 500;
    text-transform: none;
    opacity: 0.5;
    max-width: 40vw;
}

.intro-content-chat-btn {
    cursor: pointer;
    padding: 1vw 2vw;
    border: none;
    border-radius: 1vw;
    margin-top: 5em;
    font-size: 1.4vw;
    text-transform: uppercase;
    font-weight: 500;
    background-color: var(--primary-text-color);
    color: #fff;
}

.intro-image-container {
    border-bottom: 5px solid #000;
}

.intro-image-container .intro-image {
    width: 40vw;
}

@media screen and (max-width: 912px) {
    :root {
        --nav-bar-height: 40px;
        --primary-padding-side: 10px;
    }

    .nav-bar-links-container {
        position: fixed;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;
    
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        z-index: 2;
        background-color: #8fafbb;
    }

    .nav-bar-links-container.show {
        display: flex;
    }

    .nav-bar-links-container .link {
        margin: 0;
        font-size: 2em;
        margin-bottom: 1em;
    }

    .nav-bar-links-toggle-container {
        display: block;
    }

    .intro-container {
        height: max-content;
        margin-top: calc(var(--nav-bar-height));
        flex-direction: column-reverse;
    }

    .intro-content-container {
        width: 100%;
        padding-left: 8vw;
    }

    .intro-content-hello {
        margin-top: 1.5em;
        font-size: 5vw;
    }

    .intro-content-name {
        font-size: 8vw;
        margin-left: -2px;
    }

    .intro-content-carrier {
        font-size: 3.4vw;
    }

    .intro-content-msg {
        font-size: 2.6vw;
        margin-top: 2rem;
        max-width: 60vw;
    }

    .intro-image-container {
        width: 100%;
        border-bottom: 2px solid #000;
    }

    .intro-image-container .intro-image {
        width: inherit;
    }
}
